.input {
  padding: 0.45rem;
  min-width: 26rem;
  min-height: 38px;
  margin-left: 1rem;
}

@media (max-width: 640px) {
  .input {
    min-width: 0
  }
}

@media (prefers-color-scheme: dark) {
  .input {
    background-color: #393838;
    color: #fff;
    border: none;
  }
}
